<a href="https://colab.research.google.com/github/Asami1997/Applied-Data-Science-Specialization-The-University-of-Michigan/blob/master/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
pd.Series?

In [0]:
animals = ['Owl','Fish','Camel']
pd.Series(animals)

0      Owl
1     Fish
2    Camel
dtype: object

In [0]:
numbers = [1,2,3]

In [0]:
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [0]:
x = ['random',None]

In [0]:
pd.Series(x)

0    random
1      None
dtype: object

In [0]:
y = [1,2,4,None]
pd.Series(y)

0    1.0
1    2.0
2    4.0
3    NaN
dtype: float64

In [0]:
import numpy as np
np.nan == np.nan

False

In [0]:
np.isnan(y)

array([False, False, False,  True])

In [0]:
info = {'email':'asami1997@gmail.com','name' : 'Ahmad'}

In [0]:
f = pd.Series(info)

In [0]:
f

email    asami1997@gmail.com
name                   Ahmad
dtype: object

In [0]:
f.index

Index(['email', 'name'], dtype='object')

Passing the index and values explicitly

In [0]:
d = pd.Series(['asamil997@gmail.com','ahmad'],index=['email','name'])

In [0]:
d

email    asamil997@gmail.com
name                   ahmad
dtype: object

Quering Series

In [0]:
sports = {'Football':'UK',
          'Cricket' : 'Pakistan'}

In [0]:
s = pd.Series(sports)

In [8]:
s.iloc[1]

'Pakistan'

In [10]:
s.loc['Football']

'UK'

In [0]:
import numpy as np

In [0]:
x = np.random.randint(0,100,1000)

In [0]:
x_series = pd.Series(x)

In [14]:
np.sum(x_series)

37

using the timeit cell maginc command

In [21]:
%%timeit -n 100
total = 0
for item in x_series:
  total+=item

100 loops, best of 3: 3.9 µs per loop

In [22]:
%%timeit -n 100
np.sum(x_series)

100 loops, best of 3: 87.5 µs per loop

Broadcasting

In [0]:
x_series += 2

In [36]:
x_series.head()

0     7
1    16
2    37
3    34
4    97
dtype: int64

94

In [40]:
x_series.size

1000

adding new values using loc ( index 1000 dose not exist)

In [0]:
x_series.loc[1000] = 7

Mixed types of indecies and labels.

In [0]:
z = pd.Series([9,'x'],index = [100,'Name'])

In [46]:
z

100     9
Name    x
dtype: object

DataFrame

Creaeting the dataframe as a group of series

In [0]:
purchase_1 = pd.Series({'Name':'Ahmad','Cost':20,'Item':'Keyboard'})
purchase_2 = pd.Series({'Name':'Sami','Cost':30,'Item':'Monitor'})
purchase_3 = pd.Series({'Name':'Hussein','Cost':40,'Item':'Chair'})

In [0]:
df = pd.DataFrame([purchase_1,purchase_2,purchase_3],index=['store1','store1','store3'])

In [58]:
df

           Name  Cost      Item
store1    Ahmad    20  Keyboard
store1     Sami    30   Monitor
store3  Hussein    40     Chair

In [60]:
df.loc['store1']

         Name  Cost      Item
store1  Ahmad    20  Keyboard
store1   Sami    30   Monitor

Get all items regardless of the store, the entire column

In [61]:
df['Item']

store1    Keyboard
store1     Monitor
store3       Chair
Name: Item, dtype: object

Get the cost of just store 1, row and column


1.   List item
2.   List item

In [0]:
df.loc['store1','Cost']

Chaining operations , not recomended

In [65]:
df.loc['store1']['Cost']

store1    20
store1    30
Name: Cost, dtype: int64

slciing , get all the rows and the columns we need

In [66]:
df.loc[:,['Name','Item']]

           Name      Item
store1    Ahmad  Keyboard
store1     Sami   Monitor
store3  Hussein     Chair

The Drop function, takes the rows index as parameter

In [67]:
df.drop('store1')

           Name  Cost   Item
store3  Hussein    40  Chair

In [68]:
df

           Name  Cost      Item
store1    Ahmad    20  Keyboard
store1     Sami    30   Monitor
store3  Hussein    40     Chair

In [0]:
copy_dataframe = df.copy()

In [7]:
copy_dataframe

           Name  Cost      Item
store1    Ahmad    20  Keyboard
store1     Sami    30   Monitor
store3  Hussein    40     Chair

making the change on the dataframe. , on the row

In [0]:
df.drop('store1',inplace=True,axis=0)

In [11]:
df

           Name  Cost   Item
store3  Hussein    40  Chair

In [0]:
df.drop('Item',inplace=True,axis = 1)

In [15]:
df

           Name  Cost
store3  Hussein    40

dropping directly using the del opertator.

In [0]:
del df['Cost']

In [18]:
df

           Name
store3  Hussein

Adding a new column , will broadcast the result accross all rows.

In [0]:
df['Location'] = None

In [20]:
df

           Name Location
store3  Hussein     None

In [0]:
z = {'Name':'Ahmad','Email':'asami1997@gmail.com'}

In [31]:
z_df = pd.DataFrame.from_dict(z)

ValueError: ignored

In [30]:
z_df

                         0
Name                 Ahmad
Email  asami1997@gmail.com